.slideArrow {
    cursor: pointer;
    display: block;
    height: 250px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 25%;
    width: 250px;
    z-index: 5;
}
.slideArrow.prev {
    background-image: url("../img/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.slideArrow.next {
    background-image: url("../img/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.slideArrow.prev:hover{
    opacity:1;
}
.slideArrow.next:hover{
    opacity:1;
}

.slideNav {
    bottom: 30px;
    display: block;
    height: 60px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.slideNav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.slideNav li.active {
    border: 5px solid #FFFFFF;
}
.slideNav li img {
    width: 100%;
}

.slideSlider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    width: 400px;

  /*  -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
}
.slideSlide {
    position: absolute;
    top: 0;
    left: 0;
}
.slideSlide.ng-hide-add {
    opacity:1;
/*
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;*/
}
.slideSlide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slideSlide.ng-hide-remove {
 /*   -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;
*/
    display:block!important;
    opacity:0;
}
.slideSlide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
